@tailwind base;
@tailwind components;
@tailwind utilities;

/* fonts.css */

@font-face {
  font-family: "Helvetica";
  src: url("/Helvetica.ttf") format("truetype");
  font-weight: 100;
}

html,
body {
  height: 100%;
}

@layer components {
  .h1 {
    @apply text-[44px] font-assistant  -tracking-[0.3px] not-italic;
  }
  .h2 {
    @apply text-[24px] font-assistant -tracking-[0.3px]  not-italic;
  }
  .h3 {
    @apply text-[18px] font-assistant -tracking-[0.3px]  not-italic;
  }
  .h4 {
    @apply text-[16px] font-assistant  -tracking-[0.3px]  not-italic;
  }
  .h5 {
    @apply text-[12px] font-assistant  -tracking-[0.3px]  not-italic;
  }
  .h6 {
    @apply text-[10px] font-assistant  -tracking-[0.3px]  not-italic;
  }
  .h7 {
    @apply text-[8px] font-assistant  -tracking-[0.3px]  not-italic;
  }
  .slide {
    @apply right-0 duration-300 ease-in-out;
  }
  .slide-out {
    @apply right-[-500px] duration-300 ease-in-out;
  }
}
